In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
df=pd.read_csv('/content/gdrive/MyDrive/Dataset/carprices.csv')
df.head()

  Car Model  Mileage  Sell Price  Age
0    BMW X5    69000       18000    6
1    BMW X5    35000       34000    3
2    BMW X5    57000       26100    5
3    BMW X5    22500       40000    2
4    BMW X5    46000       31500    4

In [4]:
df.shape
df.isnull().sum()

Car Model     0
Mileage       0
Sell Price    0
Age           0
dtype: int64

In [5]:
#One Hot Encoding
dummy_variables = pd.get_dummies(df['Car Model'],drop_first=True)
dummy_variables.head()

   BMW X5  Mercedez Benz   Toyota
0       1               0       0
1       1               0       0
2       1               0       0
3       1               0       0
4       1               0       0

In [6]:
new_df=df.drop('Car Model',axis=1)
new_df.head()

   Mileage  Sell Price  Age
0    69000       18000    6
1    35000       34000    3
2    57000       26100    5
3    22500       40000    2
4    46000       31500    4

In [7]:
df=pd.concat([new_df,dummy_variables],axis=1)
df.head()

   Mileage  Sell Price  Age  BMW X5  Mercedez Benz   Toyota
0    69000       18000    6       1               0       0
1    35000       34000    3       1               0       0
2    57000       26100    5       1               0       0
3    22500       40000    2       1               0       0
4    46000       31500    4       1               0       0

In [10]:
y=df['Sell Price']
y.head()

0    18000
1    34000
2    26100
3    40000
4    31500
Name: Sell Price, dtype: int64

In [12]:
x=df.drop('Sell Price', axis=1)
x.head()

   Mileage  Age  BMW X5  Mercedez Benz   Toyota
0    69000    6       1               0       0
1    35000    3       1               0       0
2    57000    5       1               0       0
3    22500    2       1               0       0
4    46000    4       1               0       0

In [13]:
from sklearn.linear_model import LinearRegression

In [14]:
reg = LinearRegression()

In [15]:
reg.fit(x,y)

LinearRegression()

In [16]:
reg.score(x,y)

0.9461669991799322

In [17]:
reg.predict([[4500,8,0,0,1]])

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([74741.16977386])